$white: rgb(255, 255, 255);
$grey: rgb(240, 243, 243);
$grey2: rgb(152, 164, 171);
$grey3: rgb(197, 203, 207); // placeholder
$dark: rgb(9, 29, 37);
$black: rgb(0, 0, 0);
$blue: rgb(54, 147, 208);
$blueDark: rgb(39, 56, 72);
$green: rgb(84, 201, 121);
$red: rgb(255, 63, 12);