.container {
    width: 100%;
    position: relative;
    overflow: hidden;

}
.wrapper {
    position: relative;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.row {
    display: block;
    width: 100%;
    clear: both;
}

$cols: 10;
@for $i from 1 through $cols {
    $idx: 100 / $cols;
    .col-#{$i}{
        width: 1% * ($i*$idx);
        float: left;
        padding: .8rem;
    }
}
